* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    border-style: none;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}